@font-face {
  font-family: EurostileRound;
  src: url(../fonts/EurostileExt-Reg.otf);
}

body {
  margin: 0px;
  background-image: url("../images/main-menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-bar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(20, 36, 51, 0.8) -webkit-gradient(linear, left top, left bottom, from(rgba(20, 61, 102, 0.2)), to(rgba(20, 61, 102, 0.2)));
  background: rgba(20, 36, 51, 0.8) linear-gradient(rgba(20, 61, 102, 0.2), rgba(20, 61, 102, 0.2));
  border-bottom: 1px solid rgba(43, 72, 100, 0.5);
  place-content: space-around;
}

#nav-bar-subheader {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(4, 12, 20, 0.8) -webkit-gradient(linear, left top, left bottom, from(rgba(10, 30, 51, 0.2)), to(rgba(10, 30, 51, 0.2)));
  background: rgba(4, 12, 20, 0.8) linear-gradient(rgba(10, 30, 51, 0.2), rgba(10, 30, 51, 0.2));
  border-bottom: 1px solid rgba(43, 72, 100, 0.5);
  padding: 0 15rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav-links-subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  color: #ccfffb;
  text-decoration: none;
  text-transform: uppercase;
  font-family: EurostileRound;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .15em;
  border: 1px solid rgba(43, 72, 100, 0.5);
  border-width: 0 1px 0 1px;
  position: relative;
}

.nav-link-subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  color: #488fa1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: EurostileRound;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .15em;
  border: 1px solid rgba(43, 72, 100, 0.5);
  border-width: 0 1px 0 1px;
  position: relative;
}

.nav-link:active, .nav-link-subheader:active, .active {
  color: #EEF5FF;
  text-shadow: 0px 0px 11px rgba(102, 179, 255, 0.8);
}

.nav-link:active::after, .nav-link-subheader:active::after, .active::after {
  content: '';
  height: 2px;
  background: radial-gradient(at 50% 200%, rgba(102, 179, 255, 0.8) 1px, transparent 90%);
  width: 120%;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  top: 70%;
  left: -10%;
}

.hide {
  display: none !important;
}

.fade-in {
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
}

.fade-out {
  -webkit-animation: 1s fadeOut;
          animation: 1s fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */